html {
    box-sizing: border-box;
    min-height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.chat-application {
    width: 1440px;
    height: 975px;
    background-color: var(--chatApplicationBnd);
}

.bound {
    display: flex;
    justify-content: space-between;
    padding: 0 32px 0 22px;
    height: 64px;
    background-color: var(--headerBnd);
}

.nav-bar {
    display: flex;
}

.nav-bar a {
    margin: 0 6px;
    padding: 23px 6px 21px 6px;
    text-decoration: none;
    font-family: "Avenir Roman";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--white);
}

.active-nav-bar {
    border-bottom: 2px solid var(--lightGreen);
}

.workspaces {
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 12px 0 12px;
    padding-top: 2px;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 50%;
    color: var(--white);
    cursor: pointer;
}

.icon .icon-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -4px;
    left: 16px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-family: "Avenir Roman";
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    background-color: var(--lightGreen);
}

.failure-icon-badge {
    background-color: var(--red) !important;
}

.workspaces .user {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: 100%;
}

.user span {
    margin: 23px 0 21px 0;
    font-family: "Avenir Roman";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--white);
}

.user img {
    margin-left: 15px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.container {
    display: grid;
    grid: 100% / 240px 340px 220px 640px;
    width: 100%;
    height: 911px;
}

.container .channels {
    font-family: "Avenir Roman";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--white);
    background-color: rgba(23, 26, 30, .9);
}

.channel-group-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 32px;
    height: 56px;
}

.channels .channel-name {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    padding: 0 0 0 34px;
    height: 32px;
    cursor: pointer;
}

.channel-name span:first-of-type {
    width: 171px;
    color: var(--darkGrey);
}

.active-channel-name,
.channel-name:hover {
    background-color: rgba(255, 255, 255, .03);
}

.active-channel-name span:first-of-type {
    color: var(--white);
}

.icon-action {
    padding: 0;
    width: 24px;
    height: 24px;
    font-size: 12px;
}

.container .threads {
    font-family: "Avenir Roman";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--white);
    background-color: #111519;
}

.threads .thread-header {
    height: 97px;
    box-shadow: inset 0 -1px 0 0 #3E444E;
}

.thread-header .channel-group-name {
    padding: 0 16px 0 24px;
}

.thread-header .channel-group-name .icon {
    margin: 0;
}

.thread-header .nav-bar a {
    padding: 4px 12px 14px 12px;
    font-size: 14px;
    color: var(--darkGrey);
}

.thread-header .active-nav-bar {
    border-bottom: 3px solid var(--darkRed);
    color: var(--white) !important;
}

.threads .thread {
    display: flex;
    align-items: center;
    padding: 0 24px;
    height: 72px;
    cursor: pointer;
}

.thread .avatar {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.avatar .user-status {
    position: absolute;
    top: 18px;
    left: 3px;
    width: 8px;
    height: 8px;
    border: 2px solid var(--chatApplicationBnd);
    border-radius: 50%;
    background-color: var(--white);
}

.user-status.active {
    background-color: var(--green);
}

.user-status.inactive {
    background-color: var(--lightRed);
}

.avatar img {
    margin-right: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.thread .box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 -1px 0 0 rgba(90, 95, 101, .5);
}

.box .text-block,
.box .action-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 15px;
}

.box .action-block {
    text-align: right;
}

.text-block span,
.action-block span {
    display: block;
}

.text-block span:first-of-type {
    font-size: 14px;
    line-height: 1.43;
}

.text-block span:last-of-type,
.action-block span {
    font-size: 12px;
    line-height: 1.5;
    color: var(--darkGrey);
}

.action-block i {
    font-size: 15px;
    color: #B8BDC5;
}

.active-thread {
    background-color: var(--blue);
}

.active-thread span {
    color: var(--white) !important;
    opacity: 0.5 !important;
}

.active-thread .text-block span:first-of-type {
    opacity: 1 !important;
}

.container .profile {
    font-family: "Avenir Roman";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: var(--white);
    background-color: rgba(25, 29, 33, .9);
    opacity: .9;
}

.profile .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    height: 181px;
    background-color: #14171A;
}

.card img {
    width: 76px;
    height: 76px;
    border-radius: 50%;
}

.card div span {
    display: block;
    text-align: center;
}

.card div span:last-of-type {
    margin-top: 5px;
    color: var(--lightGrey);
}

.profile .summary {
    display: flex;
    justify-content: center;
}

.profile .info-block {
    padding-top: 22px;
    width: 173px;
    box-shadow: inset 0 -1px 0 0 rgba(90, 95, 101, .5);
}

.info-block .field {
    margin-bottom: 22px;
}

.info-block .show {
    display: block;
    margin-bottom: 22px;
    color: var(--green);
}

.field span {
    display: block;
}

.field span:first-of-type {
    margin-bottom: 4px;
    color: var(--grey);
}

.info-block .show {
    cursor: pointer;
}

.container .chat {
    display: flex;
    flex-direction: column;
    font-family: "Avenir Roman";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: var(--black);
    background-color: #F3F4F7;
}

.chat .messages {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    flex: 1;
    padding: 24px 30px;
    overflow: auto;
}

.messages .message {
    display: flex;
    margin-top: 24px;
}

.message-right {
    justify-content: flex-end;
}

.messages .message-left .img-right {
    visibility: hidden;
}

.messages .message-right .img-left {
    visibility: hidden;
}

.message div {
    margin: 0 10px;
}

.message .text {
    display: block;
    position: relative;
    padding: 16px 32px;
    max-width: 530px;
    border-radius: 5px;
    background-color: var(--white);
    word-break: break-word;
}

.message .text-right {
    color: var(--white);
    background-color: var(--lightBlue);
}

.message-right .time {
    text-align: right;
}

.message .download {
    display: flex;
    margin: 0;
}

.download .file {
    margin-right: 16px;
    width: 114px;
    height: 84px;
    border-radius: 5px;
}

.download .options {
    margin: 0;
    padding-top: 14px;
}

.download .options span {
    display: block;
}

.options span + span {
    margin-top: 4px;
}

.options .file-download {
    color: var(--lightBlue);
    cursor: pointer;
}

.download.download-right {
    flex-direction: row-reverse;
}

.download.download-right .file {
    margin: 0 0 0 16px;
}

.tri-left::before,
.tri-right::after {
    content: '';
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
}

.tri-left::before {
    left: -10px;
    border-top-color: transparent;
    border-right-color: var(--white);
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.tri-right::after {
    right: -10px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: var(--lightBlue);
}

.message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.message .time {
    display: block;
    margin-top: 8px;
    font-size: 12px;
    line-height: 1.25;
    color: #939393;
}

.chat .input {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    padding: 0 29px 0 32px;
    height: 62px;
    box-shadow: inset 0 1px 0 0 rgba(173, 173, 173, .1);
    background-color: var(--white);
}

.input i {
    margin-right: 24px;
    font-size: 22px;
    color: rgba(25, 29, 33, .9);
    cursor: pointer;
}

.input input {
    padding: 0;
    width: 450px;
    border: none;
    font-family: "Avenir Roman";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
}

.input input:focus {
    outline: none;
}

.input input:focus::placeholder {
    color: transparent;
}

.input input::placeholder {
    color: var(--black);
}

.input span {
    margin-left: auto;
    color: var(--green);
    cursor: pointer;
}

.input input[type='file'] {
    display: none;
}

.ruler {
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: red;
    z-index: 100;
}

.hidden {
    visibility: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
