:root {
    --mainFont: "Avenir Roman", normal;
    --chatApplicationBnd: #282E36;
    --headerBnd: #171B20;
    --white: #FFFFFF;
    --lightGrey: #80878F;
    --grey: #797F86;
    --darkGrey: #5F6773;
    --lightGreen: #24CF5F;
}

@font-face {
    font-family: "Avenir Roman";
    src: url("../fonts/AvenirLTStd-Roman.otf");
}
